$background-color-base: #101728;
$purple-color: #9340ff;
$main-font-color: #fff;
$black-font-color: black;
$register-accept-btn: #00a1ff;
$register-clear-btn: #ff3c5f;
$main-color-first: black;
$main-color-second: #fcd303;
